

.navBar{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.items a{
    margin: 15px;
    color: #ffffff;
    position: relative;
    text-decoration: none;
}

.toggle{
    display: none;
}

@media (max-width: 768px) {

    .navBar{
        justify-content: space-between;
    }

    .navBar.open{
        background-color: #2c296a;
        transition: 0.3s ease all;
        
    }

    .navLogo.open{
        color: rgb(255, 255, 255);
        transition: 0.3s ease all;
    }

    .items{
        position: absolute;
        top: 60px;
        left: 0;
        font-size: 25px;
        background-color: #2c296aef;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: -webkit-fill-available;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }
    
    .items a{
        color: rgb(255, 255, 255);
    }

    .items.open{
        transform: translateX(0) !important;
    }

    .toggle{
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }

    .toggle span{
        width: 30px;
        height: 4px;
        background-color: #ffffff;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);
        background-color: #ffffff;

    }

    .toggle.open > span:nth-child(2){
        display: none;
    }

    .toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
        background-color: #ffffff;

    }
}