/* SWIPER   */


.swiper {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 50px;

}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 320px;
  background-color: rgba(0, 0, 0, 0.608); 
  border-radius: 10px;
 
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

